body{
    text-align:center;
    color:blanchedalmond;

}

div:hover{
    background-color: chocolate;
    border-radius: 10%;
}

table, th, td{
    border: 1px solid blanchedalmond;
    background-color: chocolate;
    margin-left: auto;
    margin-right: auto;
    

}

details{
    font-size: large;
    font-weight: 200;
}
details:hover{
    background-color: chocolate;
    size: 110%;
}

h1{
    background-color: chocolate;
    color: blanchedalmond;
    border-radius: 30%;
}

#contents{
    text-align:left
}

#py_img{
    height: 200px;
    max-width: 250px;
}

#return:hover{
    background-color: chocolate;
}