*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    text-align:center;
    color:blanchedalmond;
    font-family:'Segoe UI' 'Open Sans', 'Helvetica Neue', sans-serif;

}

div:hover{
    background-color: chocolate;
    border-radius: 10%;
    
}

.video_container{
    padding-bottom: 56.25%;
    position: relative;

}

iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

a{
    text-decoration: none;
    color: blanchedalmond;
}

details{
    font-size: large;
    font-weight: 200;
}
details:hover{
    background-color: chocolate;
    size: 110%;

}

summary{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}



.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid burlywood;
    background-color: chocolate;

}

.card{
    border:  solid burlywood;
    padding: 5px;
    color:burlywood;

}

h1{
    background-color: chocolate;
    color: blanchedalmond;
    border-radius: 30%;
}

#contents{
    text-align:left
}

#py_img{
    height: 200px;
    max-width: 250px;
    float:inline-end;
}

#return:hover{
    background-color: chocolate;
}

