body{
    text-align:center;
    color:blanchedalmond;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

div:hover{
    background-color: chocolate;
    border-radius: 10%;
    
}


details{
    font-size: large;
    font-weight: 200;
}
details:hover{
    background-color: chocolate;
    size: 110%;

}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid burlywood;
    background-color: chocolate;

}

.card{
    border:  solid burlywood;
    padding: 5px;
    color:burlywood;

}

h1{
    background-color: chocolate;
    color: blanchedalmond;
    border-radius: 30%;
}

#contents{
    text-align:left
}

#py_img{
    height: 200px;
    max-width: 250px;
    float:inline-end;
}

#return:hover{
    background-color: chocolate;
}